* {
  background-color: black;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
  overflow: hidden;
}

.grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center; */
  display: flex;
  flex-wrap: wrap;
}

.block {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.animate {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
